@{
  //  ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>


<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <h1 class="section-title position-relative text-center mb-5">Providing Taste & Quality in a same plate since 2008</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 py-5">
                <h4 class="font-weight-bold mb-3">About Us</h4>
                <h5 class="text-muted mb-3">The adaptable menu flaunts some imaginative food, for example, salt and pepper squid on a delicate.</h5>
                <p>We are well known with a substantial gathering of people, including families, kids, seniors, and business experts. Our benevolent condition is perfect for praising unique events, facilitating a business lunch, or assembling for a flavorful dinner with loved ones.</p>
                <a href="" class="btn btn-secondary mt-2">Learn More</a>
            </div>
            <div class="col-lg-4" style="min-height: 400px;">
                <div class="position-relative h-100 rounded overflow-hidden">
                    <img class="position-absolute w-100 h-100" src="~/Content/img/betty-rotaru-ZwE-q7A9Z7o-unsplash.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-4 py-5">
                <h4 class="font-weight-bold mb-3">Our Features</h4>
                <p>Enjoy our dazzling dishes and make the most of your eating background with us!So, order food from us for a flavorful dinner with loved ones</p>
                <h5 class="text-muted mb-3"><i class="fa fa-check text-secondary mr-3"></i>Top-notch food</h5>
                <h5 class="text-muted mb-3"><i class="fa fa-check text-secondary mr-3"></i>Freash and Delicious</h5>
                <h5 class="text-muted mb-3"><i class="fa fa-check text-secondary mr-3"></i>On time Delivery</h5>
                <a href="" class="btn btn-primary mt-2">Learn More</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
